{block content}

	<nav class="x-breadcrump">
		<div class="nav-wrapper">
			<div class="col s12">
				<a n:href="Dashboard:" class="x-node">&#x2190;</a>
				<a n:href="this" class="x-node"><h1 n:block=title>Značky</h1></a>
			</div>
		</div>
	</nav>


	<div class="x-content">

	<p>Výpis seznamu značek</p>

	<a n:href="create" class="btn">Přidat značku <i class="material-icons left">add</i></a>

	{control grid}

	</div>
