{block content}

	<nav class="x-breadcrump">
		<div class="nav-wrapper">
			<div class="col s12">
				<a n:href="Dashboard:" class="x-node">&#x2190;</a>
				<a n:href="default" class="x-node">Značky</a>
				<a n:href="this" class="x-node"><h1 n:block=title>Editace</h1></a>
			</div>
		</div>
	</nav>


	<div class="x-content">

	<p>Editace značky</p>

	{control edit}

	</div>
